[submodule "vyper"]
	path = vyper
	url = https://github.com/GlebRadchenko/vyper.git
	branch = yul2venom
[submodule "foundry/lib/forge-std"]
	path = foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/lib/solady"]
	path = foundry/lib/solady
	url = https://github.com/vectorized/solady
